body {
  margin: auto;
}

h1 {
  font-size: 3rem;
  margin: 40px;
  text-decoration: underline;
}

label {
  font-size: 1.5rem;
  text-decoration: underline;
}

h2 {
  text-decoration: underline;
}
